<!DOCTYPE html>
<html>
 
<head>
    <title>Welcome</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <p>
    Do you care to create a <a href="/pets">a pet</a>? 
    <br/>

    <a href="/logout">Logout</a>
    </p>
 
</body>
 
</html>