extends layout

block content
    h1= title
    p Welcome to #{title} 
  
    p Click <a href="/register">here</a> to register or sign up.
    p Click <a href="/login">here</a> to login.

    p Click  to #[a(href="/") go back] 
